@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7rem;
}

a {
  color: #252a34;
  text-decoration: none;
}

h1,
h2,
h3 {
  padding-bottom: 1.25rem;
}

p {
  margin: 0.5rem;
}

.text-primary {
  color: #ff2e63;
}

.btn {
  display: inline-block;
  font-size: 1.5rem;
  color: #eaeaea;
  background-color: #252a34;
  padding: 0.75rem 1.25rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  color: #ff2e63;
  background-color: #0e1727;
}

.btn-light {
  color: #252a34;
  background-color: #eaeaea;
}

.bg-dark {
  background-color: #252a34;
  color: #eaeaea;
}

.bg-light {
  background-color: #eaeaea;
  color: #252a34;
}

.bg-primary {
  background-color: #ff2e63;
  color: #252a34;
}

.clr {
  clear: both;
}

/* Header */
header * {
  color: #eaeaea;
}

header {
  background-color: #252a34;
  overflow: auto;
}

header .container {
  max-width: 1100px;
  overflow: auto;
  margin: auto;
  padding: 0 1.25rem;
}

header .logo {
  float: left;
  padding-top: 1.25rem;
  font-size: 2rem;
  font-family: 'Dancing Script', cursive;
}

header nav ul {
  list-style: none;
  float: right;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  display: block;
  padding: 1.25rem;
  text-align: center;
}

header nav ul li a:hover,
header nav ul li .current {
  color: #ff2e63;
  background-color: #0e1727;
}

/* Main */
.showcase {
  height: 80vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../images/showcase.jpg') no-repeat center center/cover;
}

.showcase-content {
  color: #eaeaea;
  text-align: center;
  padding-top: 30vh;
}

.showcase-content h1 {
  font-size: 3.75rem;
}

.showcase-content p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-bottom: 1.25rem;
}

.home-info {
  height: 50vh;
}

.home-info .info-img {
  float: left;
  width: 50%;
  height: 100%;
  background: url('../images/photo-1.jpg') no-repeat center center/cover;
}

.home-info .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 3rem 2rem;
  overflow: auto;
}

.home-info .info-content p{
  padding: 2rem;
}

.features .box {
  float: left;
  width: 33.3%;
  padding: 3rem;
  text-align: center;
}

.features .box i{
  margin-bottom: 0.5rem;
}

/* About Info */
.about-info .container {
  height: 50vh;
  padding: 2rem;  
}

.info-left {
  float: left;
  width: 50%;
  height: 100%;
  text-align: center;
}

.info-right {
  float: right;
  width: 50%;
  height: 100%;
  padding: 0 2rem;  
}

.info-right img {
  width: 100%;
  height: 100%;
  border-radius: 3%;
}

/* Testimontals */
.testimonials {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url('../images/test-bg.jpg') no-repeat center center/cover;
  padding: 2rem;
}

.testimonials h2 {
  color: #fff;
  text-align: center;
  padding-bottom: 3rem;  
}

.testimonial {  
  background-color: rgba(255, 46, 99, 0.8);
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 0.5rem;  
}

.testimonial img {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  float: left;
  margin-right: 1.25rem;
}

.contact-form {
  padding: 2rem;
}

.contact-form .form-group {
  margin-bottom: 1.25rem;
}

.contact-form label {
  display: block;
  margin-bottom: 0.25rem;
}

.contact-form input,
.contact-form textarea {
  border: 1px #ccc solid;
  width: 100%;
  padding: 0.5rem;
}

.contact-form textarea {
  height: 20vh;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #ff2e63;
}

/* Footer */
footer {
  background-color: #252a34;
  color: #eaeaea;
  padding: 1.25em;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  header .logo {
    float: none;
    text-align: center;
    padding-bottom: 0.5rem;  
  }

  header nav ul {
    float: none;
  }
  
  header nav ul li {
    float: none;
  }

  header nav ul li a {
    padding: 0.5rem;
  }

  .showcase {
    height: 40vh;
  }
  .showcase-content h1 {
    
    font-size: 2rem;
  }

  .showcase-content {
    padding-top: 10vh;
  }
  
  /* Home Info */
  .home-info .info-img {
    display: none;
  }

  .home-info .info-content {
    float: none;
    width: 100%;
  }

  .features .box {
    float: none;
    width: 100%;
  }

  /* about page */
  .info-left,
  .info-right {
    float: none;
    width: 100%;
  }

  .info-right {
    display: none;
  }

  .testimonials {
    height: 100%;
  }

  .contact-form h1 {
    text-align: center;
  }
}