/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main Styling */
html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7rem;
 }

a {
  color: #252A34;
  text-decoration: none;
}

h1, h2, h3 {
  padding-bottom: 20px;
}

p {
  margin: 10px;
}

/* Header */
header * {
  color: #EAEAEA;
}

header {
  background-color: #252A34;
  overflow: auto;  
}

header .container {
  max-width: 1100px;
  overflow: auto;
  margin: auto;
  padding: 0 20px; 
}

header h1 {
  float: left;
  padding-top: 20px;
}

header nav ul{
  list-style: none;
  float: right;
}

header nav ul li{
  float: left;
}

header nav ul li a{
  display: block;
  padding: 20px;
  text-align: center;
}

header nav ul li a:hover,
header nav ul li .current{
  color: #ff2e63;
  background-color: #0E1727;
}

